{% extends 'base.html' %}
{% block content %}
{% load static %}

<div>
<div class="container" style="margin-top: 110px; margin-bottom: 20px; background: #f2f2f2;border-radius: 20px;">
    <form action="" method="post" enctype="multipart/form-data" style="padding: 15px">
        {% csrf_token %}
        <h1>User x info</h1>
        {{ form }}
   <input type="button" class="btn btn-secondary btn-lg" value="Return" data-toggle="modal" data-target="#exampleModal">
   <input type="button" class="btn btn-success btn-lg" style="float: right" value="Update" data-toggle="modal" data-target="#exampleModal2">
   <div>
       <br>
   </div>
    </form>
</div>
</div>

{% endblock content %}

    {% block js %}
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/chart/chart-page-init.js' %}"></script>
    {% endblock js %}
